.myClasses-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    align-items: center;
    border-radius: 2rem;
}

.myClasses-container > * {
    margin-top: 5%;
}

.myClasses-title {
    font-size: 3rem;
    color: rgb(58, 58, 93);
}

.class-list {
    
}

.add-class-btn {
    padding: 13px;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: dodgerblue;
    color: white;
    transition: 0.5s ease-in-out;
}

.add-class-btn:hover {
    background-color: rgb(13, 65, 117);
}