@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', Verdana, Geneva, Tahoma, sans-serif;
}


/* background styling */
.main {
    min-height: 100vh;
    background: linear-gradient(to right top, #d3ceee, #4253a5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    display: flex;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgb(243, 222, 222), rgb(255, 124, 124));
    border-radius: 1.5rem;
    -webkit-box-shadow: 14px 14px 12px 2px rgba(0, 0, 0, 0.315);
    box-shadow: 14px 14px 12px 2px rgba(0,0,0,0.315);

}

/* left sidebar styling */
.dashboard {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    background: rgb(253, 242, 228);
    overflow: hidden;
    border-radius: 1.5rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    color: #3b3b3b;
    font-style: italic;
}

/* add spacing between user's picture, name, and status */
.user > * {
    margin-bottom: 5px;
}

.user img {
    height: 120px;
    border-radius: 50%;
}

/* dashboard links styling */
.links ul{
    list-style-type: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.links ul > * {
    margin-bottom: 50px;
}

.links ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    /* gradient color for text */
    color: rgb(0, 0, 0);
    letter-spacing: 0.09rem;
    transition: ease-in-out 0.2s;
}

.links ul li a:hover {
    color: rgb(115, 214, 138);
}

/* promo button styles */
.signoff-btn {
    background:  #e24646;
    width: 175px;
    height: 75px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.signoff-btn:hover {
    background: rgb(230, 116, 116);
}

/* current tab styles */

.tab-container {
    width: 75%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

