* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* background styling */
.main {
    min-height: 100vh;
    background: linear-gradient(to right top, #D8B5FF, #1EAE98);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    display: flex;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(206, 203, 203, 0.3));
    border-radius: 1.5rem;
    -webkit-box-shadow: 6px 0px 15px 2px rgba(0,0,0,0.23); 
    box-shadow: 6px 0px 15px 2px rgba(0,0,0,0.23);
}

/* left sidebar styling */
.dashboard {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    background: linear-gradient(to right bottom, rgba(218, 215, 215, 0.5), rgba(238, 237, 237, 0.2));
    overflow: hidden;
    border-radius: 2rem;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    color: #17685c;
}

/* add spacing between user's picture, name, and status */
.user > * {
    margin-bottom: 5px;
}

.user img {
    height: 120px;
    border-radius: 50%;
}

/* dashboard links styling */
.links ul{
    list-style-type: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.links ul > * {
    margin-bottom: 50px;
}

.links ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    /* gradient color for text */
    color: #1EAE98;
    transition: ease-in-out 0.2s;
}

.links ul li a:hover {
    color: rgb(20, 88, 81);
}

/* promo button styles */
.signoff-btn {
    background:  #e24646;
    width: 175px;
    height: 75px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.signoff-btn:hover {
    background: rgb(230, 116, 116);
}

/* current tab styles */

.tab-container {
    width: 75%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

